/* VARIABLES */
:root{
    --color-primario: rgb(15, 115, 15);
    --color-secundario: #2ba329;
    --color-caja: #c9b0afc2;
    --fuente: "PT Serif", serif;    /* Fuente importada de google fonts*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    position: sticky;   /* Permite que el header se quede fijo en la parte superior al hacer scroll */
    top: 0;             /* Se pega al top de la ventana */
    width: 100%;         /* Ocupa todo el ancho de la ventana */
    font-family: var(--fuente);
    background-color: white;
    z-index: 1; /*Para que quede encima de todo*/
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.518); /* Sombra */
}

/* NAVBAR */
header .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    color: black;
}

/* LOGO + TEXTO A LA IZQUIERDA */
header .logo{
    display: flex;
    align-items: center;
}

/* IMAGEN */
header .logo img{
    width: 60px;
    height: 60px;
    transition: 0.2s;
    cursor: pointer;
}

header .logo img:hover{
    transform: scale(1.1);
}

/* TEXTO */
header .logo h1{
    margin: 0;
    color: var(--color-primario);
}

/* MENÚ EN EL CENTRO */
header .nav-links > ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding-right: 1rem;
    margin: 0;
}

/* LINKS */
header .nav-links ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header .nav-links ul a:hover{
    color: var(--color-primario);
    text-decoration-line: underline;
}

body{
    font-family: var(--fuente);
    font-size: 16px;
    line-height: 1.6;   /* Separación de renglones */
    margin: 0 auto;     /* Separación del resto de los elementos */
    background-color: rgb(252, 239, 220);
}

/*MENU*/
main{
    padding: 1.5rem;
}

main .menu-presentacion{
    text-align: center;
    padding: 180px 20px 180px 20px;
    background-image: url('../imagenes/portada.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.menu-texto{
    margin-top: -40px;
}
.menu-texto h2{
    font-size: 3.5rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.menu-texto p{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

main .boton-presentacion button{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

article, footer, aside, .formulario{
    background-color: white;
}

article{
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border: solid white;
    border-radius: 30px;
}
article h2{
    font-size: 2rem;
}
article h3{
    font-size: 1.8rem;
    padding: 0.5rem;
}
article p{
    font-size: 1.2rem;
}
article dt{
    font-size: 1.5rem;
}
article dd{
    font-size: 1.2rem;
}
article li{
    font-size: 1.2rem;
}
article em{
    font-style: normal;
}
footer{
    font-size: 1rem;
    color: rgb(0, 0, 0);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
/*Clases genéricas de diseño de articulos*/
.contenedor-resaltado{
    color: var(--color-primario);
    font-weight: bold;
}
.contenedor-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contenedor-imagen{
    max-width: 250px;
}
.borde-superior{
    border-top: 1.5px solid rgb(99, 78, 78);
}


.formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.formulario label {
    font-weight: bold;
}

.formulario input, .formulario select, .formulario textarea {
    font-family: var(--fuente);
    padding: 0.3rem;
    font-size: small;
}

button{
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    align-self: center;
    font-size: small;
    display: inline-block;
    transition: 0.2s;
}

button:hover{
    transform: scale(1.1);
}

.resaltar{
    color: rgb(6, 138, 6);
}

.quienes-somos{
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

.quienes-somos img{
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
}

.contenedor-programas{
    display: flex; /* Permite usar flexbox para organizar las tarjetas de los programas */
    flex-direction: row; /* Organiza las tarjetas en una fila */
    gap: 20px; /* Agrega espacio entre las tarjetas */
    justify-content: space-between; /* Distribuye las tarjetas estirando el espacio sobrante entre ellas hacia los extremos */
    padding: 20px; /* Agrega algo de espacio alrededor de las tarjetas para que no queden pegadas al borde del contenedor */
    padding-top: 0; /* Elimina el padding superior para que las tarjetas queden más cerca del menu */
    flex-wrap: wrap; /* Permite que las tarjetas se ajusten a la siguiente línea si ya no caben en la pantalla */
}

.tarjeta{
    flex: 1 1 280px; /* Permite que cada tarjeta tome el mismo espacio disponible, pero no se reduzca por debajo de 280px de ancho */
    background-color:white; 
    padding: 20px; 
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); /* Agrega una sombra para darle profundidad a la tarjeta */
    display: flex; /* Permite usar flexbox para organizar el contenido dentro de la tarjeta */
    flex-direction: column; /* Organiza el contenido de la tarjeta en una columna */
    border-radius: 8px; /* Redondea los bordes de la tarjeta */
}

.tarjeta h2{
    color: var(--color-primario);
}

.tarjeta ol, .tarjeta ul{
    margin-top: auto; /* Empuja la lista hacia abajo tomando el espacio sobrante de la tarjeta y lo usa arriba para empujar la lista hacia abajo */
    padding: 1.2rem; /* Agrega algo de espacio entre el contenido de la tarjeta y la lista */
    padding-left: 0; /* Elimina el padding izquierdo para que los números o viñetas estén alineados con el borde de la tarjeta */
    list-style-position: inside; /* Asegura que los números o viñetas estén dentro del contenedor de la tarjeta */
}

.imagen-programa {
    width: 100%; /* La imagen ocupará todo el ancho del contenedor de la tarjeta */
    height: auto; /* Modifica el alto automaticamente para mantener la proporción */
    object-fit: cover; /* Hace que la imagen llene el contenedor de forma proporcional sin deformarse */
    border-radius: 8px; /* Agrega bordes redondeados a la imagen para que coincida con el estilo de la tarjeta */
}

h1{
    color: var(--color-primario);
    font-weight: bold;
}

.nav-celular {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Apila los links uno abajo del otro en el celular */
    width: 100%;
    gap: 0.5rem; /* Agrega espacio entre los links para que no queden pegados en el celular */
    text-align: center; /* Centra los links en la pantalla del celular */
    background-color: white;
}

.nav-celular a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
    padding: 0.5rem; /* Agrega algo de espacio alrededor de cada link para que sean más fáciles de tocar en el celular */
}

.nav-celular a:hover {
    color: var(--color-primario);
}