:root{
    --color-primario: #1A2B4A;
    --color-secundario: #FFA500;
    --fuente: "PT Serif", serif;    /* Fuente importada de google fonts*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    justify-items: center;
    font-family: var(--fuente);

}

/* NAVBAR */
header .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

/* LOGO + TEXTO A LA IZQUIERDA */
header .logo{
    display: flex;
    align-items: center;
    gap: 10px; /* separación entre logo y texto */
}

/* IMAGEN */
header .logo img{
    width: 60px;
    transition: 0.2s;
    cursor: pointer;
}

header .logo img:hover{
    transform: scale(1.1);
}

/* TEXTO */
header .logo h1{
    margin: 0;
    color: rgb(0, 65, 0);
}

/* MENÚ EN EL CENTRO */
header .nav-links ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin-right: 400px;
    margin-left: 250px;
}

/* LINKS */
header .nav-links ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header .nav-links ul a:hover{
    color: rgb(0, 65, 0);
    text-decoration-line: underline;
}

body{
    font-family: var(--fuente);
    font-size: 16px;
    line-height: 1.6;   /* Separación de renglones */
    max-width: 1200px;  /* Pixeles de ancho que se usan de la pantalla */
    margin: 0 auto;     /* Separación del resto de los elementos */
    background-image: url(images/portada.png);
}
main{
    padding: 1.5;
}

h2{

}
h3{

}
article, footer, aside, .formulario{
    background-color: rgba(239, 218, 191, 0.7);
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

section ul{
    margin: 1.2rem;
}

.formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.formulario label {
    font-weight: bold;
}

.formulario input, .formulario select, .formulario textarea {
    font-family: var(--fuente);
    padding: 0.3rem;
    font-size: small;
}

button{
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    align-self: center;
    font-size: small;
    display: inline-block;
}