:root{
    --color-primario: #1A2B4A;
    --color-secundario: #FFA500;
    --fuente: "PT Serif", serif;    /* Fuente importada de google fonts*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    justify-items: center;
    font-family: var(--fuente);
}
nav a{
    text-decoration: none;
}
nav a:hover{
    color: white;
}
nav ul{
    font-size: 1.2rem;

    display: flex;
    gap: 3rem;
    list-style: none;
    justify-items: center;
}
body{
    font-family: var(--fuente);
    font-size: 16px;
    line-height: 1.6;   /* Separación de renglones */
    max-width: 1200px;  /* Pixeles de ancho que se usan de la pantalla */
    margin: 0 auto;     /* Separación del resto de los elementos */
    background-image: url(images/portada.png);
}
main{
    padding: 1.5;
}
h1{
    color: rgb(245, 243, 243);
    font-family: var(--fuente);
    font-size: 3rem;
}
h2{

}
h3{

}
article, footer, aside, .formulario{
    background-color: rgba(239, 218, 191, 0.7);
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

section ul{
    margin: 1.2rem;
}

.formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.formulario label {
    font-weight: bold;
}

.formulario input, .formulario select, .formulario textarea {
    font-family: var(--fuente);
    padding: 0.3rem;
    font-size: small;
}

button{
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    align-self: center;
}