:root{
    --color-primario: rgb(15, 115, 15);
    --color-secundario: #2ba329c2;
    --color-caja: #afc9afc2;
    --fuente: "PT Serif", serif;    /* Fuente importada de google fonts*/
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    justify-items: center;
    font-family: var(--fuente);
}

/* NAVBAR */
header .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

/* LOGO + TEXTO A LA IZQUIERDA */
header .logo{
    display: flex;
    align-items: center;
    gap: 10px; /* separación entre logo y texto */
}

/* IMAGEN */
header .logo img{
    width: 60px;
    transition: 0.2s;
    cursor: pointer;
}

header .logo img:hover{
    transform: scale(1.1);
}

/* TEXTO */
header .logo h1{
    margin: 0;
    color: var(--color-primario);
}

/* MENÚ EN EL CENTRO */
header .nav-links ul{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin-right: 400px;
    margin-left: 250px;
}

/* LINKS */
header .nav-links ul a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

header .nav-links ul a:hover{
    color: var(--color-primario);
    text-decoration-line: underline;
}

body{
    font-family: var(--fuente);
    font-size: 16px;
    line-height: 1.6;   /* Separación de renglones */
    max-width: 1200px;  /* Pixeles de ancho que se usan de la pantalla */
    margin: 0 auto;     /* Separación del resto de los elementos */
    background-image: url(images/portada.png);
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Oscurece el fondo para dar más contraste */
    backdrop-filter: blur(8px); /* Aplica el desenfoque (subí el número para más blur) */
    z-index: 1;
    border-radius: 50px;
}

/*MENU*/

main{
    padding: 1.5;
}

main .menu-presentacion{
    text-align: center;
    margin-top: 30px;
    padding: 1rem;
}

main .boton-presentacion button{
    margin-top: 25px;
    margin-left: 10px;
    margin-right: 10px;
}

h2{

}
h3{

}
article, footer, aside, .formulario{
    /* background-color: rgba(250, 227, 198, 0.7); COLOR ORIGINAL */
    background-color: var(--color-caja);
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

section ul{
    margin: 1.2rem;
}

.formulario form{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.formulario label {
    font-weight: bold;
}

.formulario input, .formulario select, .formulario textarea {
    font-family: var(--fuente);
    padding: 0.3rem;
    font-size: small;
}

button{
    background-color: var(--color-secundario);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    border-radius: 20px;
    font-size: medium;
    font-weight: bold;
    align-self: center;
    font-size: small;
    display: inline-block;
    transition: 0.2s;
}

button:hover{
    transform: scale(1.1);
}

.resaltar{
    color: rgb(15, 115, 15);
}

.quienes-somos{
    background-color: rgba(239, 218, 191, 0.7);
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
}

.quienes-somos img{
    width: 100%;
    max-width: 400px;
    margin: 1rem auto;
}
